<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            margin: 20px;
        }

        .nav-tabs>li.active, .nav-tabs>li.active:focus {
            border-bottom: 3px solid #cc181e;
            color: black;
        }

        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            border: none !important;
            background-color: transparent !important;
            color: black;
        }

        .nav-tabs>li>a {
            color: black;
        }

        .tab-content {
            margin-top: 20px;
        }
        .form-control {
            border-radius: 2px;
        }
    </style>
</head>
<body>
<h3> <i style="color:#337ab7" class="fa fa-pencil-square"></i> Upload Details</h3>
<p>Please provide details about the file you are uploading below.</p>
<ul class="nav nav-tabs" role="tablist" hidden="hidden">
    <li role="presentation" class="active"><a href="#advanced" role="tab" data-toggle="tab"></a></li>
</ul>

<form action="process" method="post">
    <input name="redirectUrl" type="hidden" value="<%= redirectUrl %>"/>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="advanced">
           
            <div class="form-group">
                <label for="Sender" class="control-label">Sender</label>
                <input type="text" class="form-control" id="Sender" name="Sender">
            </div>

            <div class="form-group">
                <label for="Flightcode" class="control-label">Title</label>
                <input type="text" class="form-control" id="Flightcode" name="Flightcode">
            </div>

            <div class="form-group">
                <label for="Advertiser" class="control-label">Advertiser</label>
                <input type="text" class="form-control" id="Advertiser" name="Advertiser">
            </div>

            <div class="form-group">
                <label for="Product" class="control-label">Product</label>
                <input type="text" class="form-control" id="Product" name="Product">
            </div>

            <div class="form-group">
                <label for="Campaign" class="control-label"> Campaign</label>
                <input id="Campaign" type="text" class="form-control"  name="Campaign">
            </div>
           
            <div class="form-group">
                <label for="DSTVSalesPerson" class="control-label">DSTV Sales Person</label>
                <select id="DSTVSalesPerson" name="DSTVSalesPerson" class="form-control" value="none">
                    	<option value="" default selected>Select Sales Person</option>
                 	<option value="Ryan de Bique">Ryan de Bique</option>
			<option value="Bongani Matlebe">Bongani Matlebe</option>      
			<option value="Patience Makombe">Patience Makombe</option>
			<option value="Estelle Kotze">Estelle Kotze</option>
			<option value="Juliana Mdakane">Juliana Mdakane</option>
   
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" style="font-size: 15px" class="btn btn-xs btn-primary pull-right">Save</button>
    </div>
</form>
<br/>
</body>
</html>
